<!-- jQuery -->
<script src="/user/style/plugins/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/user/style/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/user/style/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/user/style/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

<!-- overlayScrollbars -->
<script src="/user/style/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/user/style/dist/js/adminlte.js"></script>
<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="/user/style/plugins/raphael/raphael.min.js"></script>
<script src="/user/style/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/user/style/plugins/jquery-mapael/maps/usa_states.min.js"></script>