<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.intern.mapper.UserMapper">
    <sql id="Base_Column_List">
        user_id, user_name, email, password,
        is_active, is_delete, group_role,
        created_at, updated_at
    </sql>
    <select id="findAll" resultType="User">
        SELECT <include refid="Base_Column_List" />
        FROM mst_users
        WHERE is_delete != 1
        <if test="userSearchForm.userName != null">
            <bind name="searchUserName" value="'%' + userSearchForm.userName + '%'" />
            AND user_name LIKE #{searchUserName}
        </if>
        <if test="userSearchForm.email != null">
            <bind name="searchEmail" value="'%' + userSearchForm.email + '%'" />
            AND email LIKE #{searchEmail}
        </if>
        <if test="userSearchForm.groupRole != null">
            AND group_role = #{userSearchForm.groupRole}
        </if>
        <if test="userSearchForm.isActive != null">
            AND is_active = #{userSearchForm.isActive}
        </if>
        ORDER BY updated_at DESC
        <if test="paginate == true">
            LIMIT #{currentPage}, ${perPage}
        </if>
    </select>
    <insert id="insert">
        INSERT INTO
        mst_users(user_name, email, password, group_role, is_active, created_at, updated_at)
        VALUES (#{userName}, #{email}, #{password}, #{groupRole}, #{isActive}, #{createdAt}, #{updatedAt})
    </insert>
    <select id="findById" resultType="User">
        SELECT <include refid="Base_Column_List" />
        FROM mst_users WHERE user_id = #{userId}
    </select>
    <select id="findByEmail" resultType="User">
        SELECT <include refid="Base_Column_List" />
        FROM mst_users
        WHERE email=#{email}
        <if test="userId != 0">
            AND user_id != #{userId}
        </if>
    </select>
    <select id="findByName" resultType="User">
        SELECT <include refid="Base_Column_List" />
        FROM mst_users
        WHERE user_name=#{name}
        <if test="userId != 0">
            AND user_id != #{userId}
        </if>
    </select>
    <update id="update">
        UPDATE mst_users SET
        user_name = #{userName}, email = #{email}, group_role = #{groupRole},
        is_active = #{isActive}, updated_at = #{updatedAt}
        WHERE user_id = #{userId}
    </update>
    <update id="lockById">
        UPDATE mst_users SET is_active=0 WHERE user_id = #{userId}
    </update>
    <update id="deleteById">
        UPDATE mst_users SET is_delete=1 WHERE user_id = #{userId}
    </update>
</mapper>