<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" type="type/text" href="style/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="style/dist/css/adminlte.min.css">
<link rel="stylesheet" href="style/bootstrap-5.0.2-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="style/css/common.css">